body {
  height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  margin-top: 100px;
  background-color: rgb(247, 252, 252);
  border: solid 1px #666666;
  line-height: 55px;
  margin: 50px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 4px;  
}

.input-number {
  padding: 25px 20px 10px 20px;
  width: 200px;
  font-size: 30px;
  font-weight: bold;
  text-align: right;
  border: none;
  box-shadow: inset 0 0 1px #aaa;
  outline: none;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

button {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: none;
  box-shadow: inset 0 0 2px #cfcfcf;
  background-color: #fffdfd;
  color: rgb(56, 54, 54);
}

button:hover {
  background: rgb(222, 222, 223);
}

button:active {
  background: rgb(202, 202, 202);
}